<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561269912463-nm3j5h6kq23883v1f7d40lc7emn95emo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561269912463-nm3j5h6kq23883v1f7d40lc7emn95emo</string>
	<key>API_KEY</key>
	<string>AIzaSyALIIVBFnM3N7PuQS3ZeFen49g8TVwBiwA</string>
	<key>GCM_SENDER_ID</key>
	<string>561269912463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zigzagAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>abdelrahman-flutter-socia</string>
	<key>STORAGE_BUCKET</key>
	<string>abdelrahman-flutter-socia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561269912463:ios:34876888e7a77f519811fa</string>
</dict>
</plist>